.content-file{
    min-height: 10%;
    min-height: 10em;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    margin: 1px 1px 1px 1px;
}

.equal-top-bottom-margin{
    margin-top: 1%;
    margin-bottom: 1%;
}

.select2-selection--single{
    line-height: 2.1em !important;
    border-radius: 0px !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}